<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Quoting Dojo!!!</h1>
        <form action="/create_quote" method="post">
            Your Name: <br><input type="text" name="name" placeholder="type your name">
            <br><br>
            Your Quote: <br><textarea name="quote" placeholder="type your quote."></textarea>
            <br>
            <input type="submit" value="Add my quote!">
        </form>
        <div class="danger">
            <!-- <%- JSON.stringify(messages) %>  -->
            <!-- based on the structure of your messages, determine how to display them -->
            <!-- <% if(messages.index) { %> -->
                    <!-- <% for (var x of messages.index) { %> -->
                    <h3><%= x %></h3>
                    <!-- <% } %> -->
                <!-- <% } %> -->
        </div>
        <p>
            <form action="/quotes_page" method="get">
                <input type="submit" value="skip to quotes!">
            </form>
        </p>

    </div>

</body>
</html>